/* @import 'tailwindcss' source("./"); */
@import 'tailwindcss';

:root {
  --ui-primary: rgb(255, 255, 255);
}

.dark {
  --ui-primary: rgb(58, 58, 58);
}

body {
  @apply m-0 h-dvh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
